[submodule "murmur"]
	path = murmur
	url = https://github.com/Hana-ame/Hana-ame.git
	branch = murmur
[submodule "git"]
	path = git
	url = https://github.com/Hana-ame/Hana-ame.git
	branch = git
[submodule "fedi"]
	path = fedi
	url = https://github.com/moonchan-xyz/moonchan.git
	branch = readme
[submodule "three.js"]
	path = three.js
	url = https://gist.github.com/692c6822a4007ae0c54f683a0c9d213e.git
[submodule "键政"]
	path = 键政
	url = https://gist.github.com/573fd742e864bc7694a144a2ca570f39.git
[submodule "买东西"]
	path = 买东西
	url = https://gist.github.com/37e2f6ffe357d4bbb3edaff1e618f60e.git
