[submodule "murmur"]
	path = murmur
	url = https://github.com/Hana-ame/Hana-ame.git
	branch = murmur
[submodule "git"]
	path = git
	url = https://github.com/Hana-ame/Hana-ame.git
	branch = git
[submodule "fedi"]
	path = fedi
	url = https://github.com/moonchan-xyz/moonchan.git
	branch = readme
[submodule "three.js"]
	path = three.js
	url = https://gist.github.com/692c6822a4007ae0c54f683a0c9d213e.git
[submodule "heymind.github.io"]
	path = heymind.github.io
	url = https://github.com/heymind/heymind.github.io.git
